


    body {
        background-color: lightgreen;
    }


@media screen and (min-width: 481px) and (max-width: 1200px) {
    body {
        background-color: deepskyblue;
    }
}
@media screen and (min-width:1201px) {
    body {
        background-color: darksalmon;
    }
}


